{% extends "layout.html" %}
{% block body %}
<div id="wrapper">
	<header>
		<h1>Welcome</h1>
		<script>
			function addname(o) {
				var info = document.getElementById("privacy");
				var select = info.options[info.selectedIndex].value;
				if (select== "3"){
					doc = document.getElementById("private_auth");
					doc.setAttribute("type", "text");
				}
				else {
					field = document.getElementById("private_auth");
					doc.setAttribute("type", "hidden");
				}
			}
		</script>
	</header>	
	<div id="main">
		<div id="sidebar">
			<ul>
  				<li  id="home"><a href="#">My Posts</a></li>
				<li><a href="/main/seeAllPosts" id="seeAllPosts">Public Posts</a></li>
				<li><a href="/main/seefriendPosts" id="seefriendPosts">Friend's Posts</a></li>
				<li><a href="/main/friendOfFriend" id="friendOfFriend">Friends of friends</a></li>
				<li><a href="/main/search" id="search">Search</a></li>
				<li><a href="/main/author/{{request.session.user_guid}}/posts">User Profile</a></li>
				<li><a href="/main/profileSettings">Profile Settings</a></li>
				<li><a href="/main/myStream">My Stream</a></li>
				<li><a href="/main/otherServerPost">Other Server Public Posts</a></li>
				<li><a href="/main/othernodePostId">Search a post Id on other host</a></li>
				<li><a href="/main/specificauthorposts">Get specific user posts</a></li>
				<li><a href="/main/currentlyauthuser">Get currently auth'ed user posts</a></li>
				<li><a href="/main/friendcheck">Check friend status between Authors</a></li>
				<li><a href="/main/friendreq">Make a friend request to another node</a></li>
				<li class="active"><a href="/main/foaf">Get a post if the provided user is FOAF with another</a></li>
				{% for admin in request.session.admin %}
					{% if admin = "T" %}
					<li><a href="/main/approveAuthors">Approve Authors</a></li>
					<li><a href="/main/manageAuthors">Manage Authors</a></li>
		{%endif%}{%endfor%}
			</ul>
		</div>

		<div id="content">
			
			<form id="checkForm" method="POST" action="/main/foaf/">{% csrf_token %}
				<div class="winHead">
					<h2>Get post if author is FOAF with other authors </h2>
				</div>
				<div class="winBody">
					<p>
					<textarea class="text" id="postid" name="postid" placeholder="Post's guid"></textarea></p>
					<p>
					<textarea class="text" id="authorid" name="authorid" placeholder="Author's guid"></textarea></p>
					<p>
					<textarea class="text" id="authorids" name="authorids" placeholder="Author's guid separated with a space"></textarea></p><p>
					<select name="hostchoice" id = "hostchoice">
  					<option value="1" selected="selected">Thought Bubble</option>
						<option value="2">Group 7</option>
						
					</select>
					


					<input type=submit class="btn addBtn" value="Check"></p>
				</div>
			</form>
			{{error}}
			{% if posts %}
				<h4>Author : {{posts.author.displayname}}</h4>
				<h4>Authorid : {{posts.author.id}}</h4>
				<h4>Title : {{posts.title}}</h4>
				<h4>Content : {{posts.content}}</h4>
				<h4>Date : {{posts.pubdate}}</h4>
			{%endif%}
		</div>
	</div>
</div>
{%endblock%}