{% extends "layout.html" %}
{% block body %}
<div id="wrapper">
	<header>
		<h1>Welcome</h1>
			
	</header>	
	<div id="main">
		<div id="sidebar">
			<ul>
  				<li id="home"><a href="/main/loggedin">My Posts</a></li>
				<li><a href="/main/seeAllPosts" id="seeAllPosts">Public Posts</a></li>
				<li><a href="/main/seefriendPosts" id="seefriendPosts">Friend's Posts</a></li>
				<li><a href="/main/friendOfFriend" id="friendOfFriend">Friends of friends</a></li>
				<li><a href="/main/search" id="search">Search</a></li>
				<li><a href="/main/userProfile" id="userProfile">User Profile</a></li>
				<li><a href="/main/profileSettings">Profile Settings</a></li>
				<li><a href="/main/myStream">My Stream</a></li>
				<li><a href="/main/otherServerPost">Other Server Posts</a></li>
				<li class="active"><a href="/main/othernodePostId">Search a post Id on other host</a></li>
				{% for admin in request.session.admin %}
					{% if admin = "T" %}
					<li><a href="/main/approveAuthors">Approve Authors</a></li>
					<li><a href="/main/manageAuthors">Manage Authors</a></li>
		{%endif%}{%endfor%}
			</ul>
		</div>

		<div id="content">
			
			<form id="checkForm" method="POST" action="/main/othernodePostId/">{% csrf_token %}
				<div class="winHead">
					<h2>Search a post Id on other host</h2>
				</div>
				<div class="winBody">
					<p>
					<textarea class="text" id="postguid1" name="postguid1" placeholder="Posts's guid"></textarea></p><p>

					


					<input type=submit class="btn addBtn" value="Check"></p>
				</div>
			</form>

			{% for posts in posts %}
			<div class="link">
				<h4>{{ posts.content }}</h4>
				<h4>Description: {{ posts.description}}</h4>
				<h4>Guid: {{ posts.guid}}</h4>
				<h4>Origin:{{ posts.origin}}</h4>
				<h4>Date: {{ posts.pubdate }}</h4>
				<h4>Source: {{ posts.source}}</h4>
				<h4>Title: {{ posts.title}}</h4>
				<h4>Visibility: {{ posts.visibility}}</h4>			
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{%endblock%}
