{% extends "layout.html" %}
{% block body %}
<div id="wrapper">
	<header>
		<h1>Welcome</h1>
		<script>
			function addname(o) {
				var info = document.getElementById("privacy");
				var select = info.options[info.selectedIndex].value;
				if (select== "3"){
					doc = document.getElementById("private_auth");
					doc.setAttribute("type", "text");
				}
				else {
					field = document.getElementById("private_auth");
					doc.setAttribute("type", "hidden");
				}
			}
		</script>
	</header>	
	<div id="main">
		<div id="sidebar">
			<ul>
  				<li class="active" id="home"><a href="#">My Posts</a></li>
				<li><a href="/main/seeAllPosts" id="seeAllPosts">Public Posts</a></li>
				<li><a href="/main/seefriendPosts" id="seefriendPosts">Friend's Posts</a></li>
				<li><a href="/main/friendOfFriend" id="friendOfFriend">Friends of friends</a></li>
				<li><a href="/main/search" id="search">Search</a></li>
				<li><a href="/main/author/{{request.session.user_guid}}/posts">User Profile</a></li>
				<li><a href="/main/profileSettings">Profile Settings</a></li>
				<li><a href="/main/myStream">My Stream</a></li>
				{% for admin in request.session.admin %}
					{% if admin = "T" %}
					<li><a href="/main/approveAuthors">Approve Authors</a></li>
					<li><a href="/main/manageAuthors">Manage Authors</a></li>
		{%endif%}{%endfor%}
			</ul>
		</div>
		<div id="content">
			<form id="addForm" method="POST" action="/main/add_post/">{% csrf_token %}
				<div class="winHead">
					<h2>Add a post</h2>
				</div>
				<div class="winBody">
					<p>
					<textarea class="text" id="title" name="title" placeholder="Title"></textarea></p><p>
					<textarea class="text" id="description" name="description" placeholder="Description"></textarea></p><p>
					<textarea class="text" id="post" name="post" placeholder="Content"></textarea></p>
					
					<select name="privacy" id = "privacy" onchange = "addname(this)">
  					<option value="PUBLIC" selected="selected">Public</option>
						<option value="PRIVATE">Private</option>
						<option value="FRIENDS">Friends</option>
						<option value="FOAF">Friend of Friend</option>
						<option value="SERVERONLY">Server Only</option>
					</select>
					<p>
					<input type=hidden class="text" id="private_auth" name="private_auth" placeholder="Type another username"></p>
					<input type=submit class="btn addBtn" value="Add"></p>
				</div>
			</form>
			{% for posts in posts %}
			<div class="link">
				<h4>{{ posts.title }}</h4>
				<h4>{{ posts.description }}</h4>
				<h4>{{ posts.content }}</h4>
				<h4>{{ posts.pubDate }}</h4>
				<h4>{{ posts.author}}
				<form class="operation_from" action="/main/delete/" method=post>{% csrf_token %}
					<input type="hidden" id="ID" name="ID" value={{posts.id}}>


					<input type="submit" value=Delete>
					</form>
					<form class="operation_from" action="/main/edit/" method=post>{% csrf_token %}
					<input type="hidden" id="ID" name="ID" value={{posts.id}}>


					<input type="submit" value=Edit>
					</form>
				</h4>
				<p class="tags"> </p>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{%endblock%}
