{% extends "layout.html" %}
{% block body %}
{% for posts in posts %}
<form action="/socialmedia/save/" method=post>{% csrf_token %}
	<input type="hidden" id="ID" name="ID" value={{posts.id}}>
	<textarea class="text" id="post" name="post" placeholder={{posts.post}}></textarea></p><p>
					<select name="privacy" id = "privacy" onchange = "addname(this)">
  						<option value=0 selected="selected">Public</option>
						<option value=1>Private</option>
						<option value=2>Friends</option>
						<option value=3>Private author post</option>
						<option value=4>Friend of friend</option>
					</select>
					<p>
					<input type=hidden class="text" id="private_auth" name="private_auth" placeholder="Type another username"></p>
					<input type=submit class="btn addBtn" value="save"></p>
</form>
{%endfor%}
{%endblock%}
