{% extends "layout.html" %}
{% block body %}
<div id="wrapper">
	<header>
		<h1>User settings</h1>
	</header>	
	<div id="main">
		<div id="sidebar">
			<ul>

  				<li id="home"><a href="/socialmedia/loggedin">My Posts</a></li>
				<li class="active" ><a href="/socialmedia/seeAllPosts" id="seeAllPosts">Public Posts</a></li>
			</ul>
		</div>
		<div id="content">
			
			
		<form action="/socialmedia/profileSettings/" method=post>{% csrf_token%}
		<dl>
			<dt>Enter new Password:
			<input type="button" id = "passbutton" name = "newpass" value = "change password?">
			<dd><input type=text id=passtextfield name=newpassword disabled >
			<dt>Enter new Github Username:

			<input type="button" id = "gitbutton" name = "newpass" value = "change Github?">
			<dd><input type=text id=gittextfield name=githubname disabled>
			<dd><input type=submit value="Save Changes">
			<dt>Blank entries do not change values

			<!-- TODO, make toggleable -->
			<script>
			var pass = document.getElementById("passtextfield");
			var git = document.getElementById("gittextfield");
			
			var passbutt = document.getElementById("passbutton");
			var gitbutt = document.getElementById("gitbutton");

			passbutt.addEventListener("click", function(){
			pass.disabled = false;
			passbutt.style.visibility = "hidden";
			});

			gitbutt.addEventListener("click", function(){
			git.disabled = false;

			gitbutt.style.visibility = "hidden";
			});

			</script>
		</dl>
		</form>
		</div>
	</div>
</div>
{%endblock%}
